.all{
  position: absolute;
  width: 1344px;
  height: 880px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 25px;
  background-color: #FFF8C9;
}

.container{
  display: flex;
}

.pagina{
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.number{
  width: 76px;
  height: 76px;
  font-family: Inter;
  font-size: 48px;
  text-align: center;
}

.selected{
  background-color: #614BB0;
  color: white;
}

.unselected{
  background-color: #D0BFFF;
  color: #787485;
}

.line{
  width: 152px;
  height: 2px;
  background-color: #787485;
  margin-top: 37px;
}


.form{
  margin-top: 25px;
  font-family: Inter;
  color: #787485;
  margin-left: 10%;
}

input{
  width: 471px;
  height: 65px;
  background-color: #D0BFFF;
  border: none;
  border-radius: 50px;
  margin-bottom: 30px;
}
label{
  display: block;
}

.final{
  margin-top: 25%;
  margin-left: -10%;
  font-family: Inter;
  font-size: 128px;
  font-weight: 400;
  text-align: center;
}

button{
  position: absolute;
  margin-left: 1000px;
  border: none;
  background-color: transparent;
  color:#614BB0;
  font-size: 67px;
}
h1{
  margin-left: -10%;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

input[type=date]::-webkit-datetime-edit {
  color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: transparent;
}
