<div class="all">
  <div class="pagina container">
    <div class="rounded-circle number selected">1</div>
    <div class="line"></div>
    <div class="rounded-circle number unselected">2</div>
    <div class="line"></div>
    <div class="rounded-circle number unselected">3</div>
    <div class="line"></div>
    <div class="rounded-circle number unselected">4</div>
  </div>
  <div class="form">

    <div class="center">
      <div class="col-12">
        <div class="row">
          <div class="col-6"><label for="nome">Nome</label><input type="text"></div>
          <div class="col-6"><label for="sobrenome">Sobrenome</label><input type="text"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-6"><label for="idade">Idade</label><input type="number"></div>
        <div class="col-6"><label for="data-nascimento">Data de Nascimento</label><input type="date"></div>
      </div>
      <div class="row">
        <div class="col-6"><label for="nome-mae">Nome da Mãe</label><input type="text"></div>
        <div class="col-6"><label for="nome-pai">Nome do Pai</label><input type="text"></div>
      </div>
      <div class="row">
        <!--Olhar dps-->
        <div class="col-6"><label for="cpf">CPF</label><input type="number"></div>
        <!--Olhar dps-->
        <div class="col-6"><label for="rg">RG</label><input type="number"></div>
      </div>
    </div>

    <div>
      <div class="row">
        <div class="col-6"><label for="nome-user">Nome de Usuário</label><input type="text"></div>
        <div class="col-6"><label for="nome-pai">Nome do Pai</label><input type="text"></div>
      </div>
      <div class="row">
        <div class="col-6"><label for="email">Email</label><input type="email"></div>
        <div class="col-6"><label for="senha">Senha</label><input type="password"></div>
      </div>
      <div class="row">
        <div class="col-6"><label for="ddd">DDD</label><input type="number"></div>
        <div class="col-6"><label for="celular">Celular</label><input type="number"></div>
      </div>
    </div>

    <div>
      <div class="row">
        <div class="col-6"><label for="rua">Rua</label><input type="text"></div>
        <div class="col-6"><label for="bairro">Bairro</label><input type="text"></div>
      </div>
      <div class="row">
        <div class="col-6"><label for="numero">Número</label><input type="number"></div>
        <div class="col-6"><label for="cidade">Cidade</label><input type="text"></div>
      </div>
      <div class="row">
        <div class="col-6"><label for="logradouro">Logradouro</label><input type="text"></div>
        <div class="col-6"><label for="estado">Estado</label><input type="text"></div>
      </div>
      <div class="row">
        <div class="col-6"><label for="cep">CEP</label><input type="number"></div>
        <div class="col-6"><label for="ponto-ref">Ponto de Referência</label><input type="text"></div>
      </div>
    </div>

    <div>
      <div class="row">
        <div class="col-6"><label for="altura">Altura</label><input type="number"></div>
        <div class="col-6"><label for="peso">Peso</label><input type="number"></div>
      </div>
      <div class="row">
        <div class="col-6"><label for="tipo-sanguineo">Tipo Sanguíneo</label><input type="text"></div>
        <div class="col-6"><label for="cor">Cor Preferida</label><input type="text"></div>
      </div>
      <div class="row">
        <div class="col-6"><label for="signo">Signo</label><input type="text"></div>
        <div class="col-6"><label for="animal">Animal Preferido</label><input type="text"></div>
      </div>
    </div>

  </div>
</div>
